{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('bundles/app/css/signup.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
    <form id="login" class="form-signin vertical" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Basic Authorization</h2>
        {% if(error) %}
            <div class='form_error'>{{ error }}</div>
        {% endif %}
        <div class="form_item">
            <div class="form_label"><label for="username">Username</label>:</div>
            <div class="form_widget"><input type="text" id="username" name="_username" /></div>
        </div>
        <div class="form_item">
            <div class="form_label"><label for="password">Password</label>:</div>
            <div class="form_widget"><input type="password" id="password" name="_password" /></div>
        </div>
        <div class="form_button">
            <input type="submit" id="_submit" name="_submit" value="Log In" />
        </div>
    </form>

</div> <!-- /container -->
{% endblock %}
